*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100vw;
  height: 100vh;
}

body {
  width: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #333;
  background-color: #f2f7fe;
}

header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cabecera__body {
  background-color: #333;
  color: #f4f4f4;
  padding: 0.4rem;
  text-transform: capitalize;
  text-decoration: none;
  border: 2px solid #000;
  font-size: 0.7rem;
  font-weight: bold;
  user-select: none;
}

.section__body {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem;
  background-color: #ffffff;
  border: 2px solid #a1a1a130;
  border-radius: 5px;
}

.parrafo__seccion {
  margin-top: 0.5rem;
  font-size: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: underline;
  text-transform: capitalize;
  font-weight: 300;
}

.cita__seccion {
  margin: 0.5rem 0rem;
  background-color: #dddddd90;
  padding: 0.4rem 1rem;
  border-left: 4px solid #aaa;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

hr {
  border: 0;
  height: 2px;
  background-color: #858484;
  border-radius: 2px;
}

.box1__section {
  margin: 0.5rem 0rem;
  padding: 0.8rem 1rem;
  border: 0.1rem solid #999;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 1px #858484 ;
  background-color: #fefeff;
  font-size: 0.8rem;
}

.box2__section {
  background-color: #eec566;
  font-size: 0.8rem;
  margin: 0.5rem 0rem;
  padding: 0.8rem 1rem;
  border: 0.1rem solid #333;
  border-radius: 10px;
  box-shadow: 2px 2px #858484;
}

.caja_relativa {
  position: relative;
  height: 120px;
}

.relativo {
  position: relative;
  background-color: #b4deea; 
  font-size: 0.8rem;
  top: 10px;
  left: 2px;
  margin: 0.2rem 0.5rem;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

.absoluto {
  position: absolute; 
  background-color: #0e8077;
  color: #fff;
  font-size: 0.8rem;
  top: 70px;
  left: 400px;
  padding: 0.4rem;
  border-radius: 0.2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 0.5rem;
  padding: 0.2rem 0rem;
  gap: 0.2rem;
}

.grid-item {
  border: 0.1rem solid #aecbff;
  border-radius: 0.2rem;
  background-color: rgb(138, 128, 255);
  padding: 0.4rem 0rem;
  text-align: center;
  font-size: 0.7rem;
  color: whitesmoke;
  font-weight: bold;
}

.animacion {
  height: 50px;
  width: 50px;
  background-color: red;
  border: 0.1rem solid rgb(182, 1, 1);
  transition: 0.5s ease-in-out;
}
.animacion:hover {
  background-color: rgb(114, 0, 0);
}

.mover {
  width: 50px;
  height: 50px;
  background-color: green;
  position: relative;
  margin: 0.2rem 0rem;
  border: 0.1rem solid greenyellow;
  border-radius: 50%;
  animation: movimientoLateral 3s infinite;
}

@keyframes movimientoLateral {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(200px);
  }
  100% {
    transform: translateX(0);
  }
}

@media screen and ( max-width: 768px ) {
  body {
    background-color: rgb(186, 163, 255);
  }

  .cabecera__body {
    padding: 0.8rem ;
    font-size: 0.5rem;
  }

  section > p {
    text-align: justify;
  }

  .section__body h2 {
    font-size: 1rem;
  }

  .parrafo__seccion {
    font-size: 0.8rem;
  }

  .caja_relativa {
    height: 140px;
  }

  .absoluto {
    top: 72px;
    left: 18px;
    width: 80vw;
  }
}



